{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "ruin-giantplasmaexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/guardian_death_explosion.ogg" ]
    } /* ,
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "projectile",
          "type" : "ruin-plasmaballfragment",
          "inheritDamageFactor" : 0.5,
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 1,
            "acceleration" : 75
          }
        },
        {
          "action" : "projectile",
          "type" : "ruin-plasmaballfragment",
          "inheritDamageFactor" : 0.5,
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 1,
            "acceleration" : 50
          }
        },
        {
          "action" : "projectile",
          "type" : "ruin-plasmaballfragment",
          "inheritDamageFactor" : 0.5,
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 1,
            "acceleration" : 25
          }
        }
      ]
    },
    {
      "action" : "projectile",
      "type" : "orbitalup",
      "direction" : [0, -1],
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 500,
        "actionOnReap" : [
          {
            "action" : "projectile",
            "type" : "ruin-laserhazard",
            "inheritDamageFactor" : 1,
            "direction" : [1, 0]
          }
        ]
      }
    } */
  ]
}
