{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "ruin-voidprojectileactive"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/ruin-voidstar_form.ogg" ]
    }/* ,
    {
      "action" : "particle",
      "rotate" : true,
      "specification" : {
        "type" : "animated",
        "animation" : "/animations/ruin-voidstarform/ruin-voidstarform.animation",
        "timeToLive" : 0.3,
        "fullbright" : true,
        "layer" : "front"
      }
    } */
  ]
}